.stores {
  display: flex;
}

.km-store {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stores h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
