footer {
  padding: 40px;
  background: #1a1a1a;
  text-align: left;
  letter-spacing: 0.3px;
}

footer ul {
  list-style: none;
  padding-inline-start: 0;
}

footer a {
  text-decoration: none;
  letter-spacing: 0.5px;
}

footer details a {
  display: block;
  margin: 0 0 8px;
}

footer ul li a,
footer span {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

footer a,
footer span,
footer > div {
  color: #ffffff;
}

.footer-wrapper section {
  flex-direction: column;
  max-width: 224px;
  width: 100%;
}

.footer-wrapper hr {
  margin: 34px 0;
  width: 100%;
  border-color: #4d4d4d;
}

.footer-wrapper h4,
.useful-links a {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 16px;
  text-transform: uppercase;
}

.misc h4 {
  margin: 0px 0 16px;
}

.misc ul {
  margin: 0 0 37px;
}

.socials a {
  margin: 0 13px 0 0;
}

.copyright {
  align-items: center;
}

.copyright span {
  max-width: 464px;
  width: 100%;
  text-align: right;
}

.copyright ul > li > a {
  margin: 0 48px 0 0;
}

.footer-wrapper,
.footer-wrapper section,
footer .socials,
footer .payments,
.copyright,
.copyright > ul {
  display: flex;
  flex-wrap: wrap;
}

.footer-wrapper,
footer .copyright {
  justify-content: space-between;
}

details > summary {
  list-style: none;
}

details > summary::marker,
details > summary::-webkit-details-marker {
  display: none;
}

footer details {
  pointer-events: none;
}

footer details a {
  pointer-events: all;
}

@media screen and (max-width: 1024px) {
  details > summary {
    display: flex;
    content: "+";
  }

  details > summary:after {
    content: "+";
    margin: 0 0 0 10px;
  }

  details[open] > summary:after {
    content: "-";
  }

  details > summary::marker,
  details > summary::-webkit-details-marker {
    display: none;
  }

  footer details {
    pointer-events: initial;
  }
}

@media screen and (max-width: 768px) {
  footer {
    padding: 32px 16px;
  }

  .useful-links {
    position: relative;
  }

  .useful-links::after {
    content: "";
    position: absolute;
    border: 1px solid #4d4d4d;
    width: 100%;
    bottom: 0;
  }

  .help {
    padding: 41px 0 0;
  }

  footer details {
    position: relative;
    padding: 16px 0;
  }

  .footer-wrapper details h4 {
    margin: 0;
  }

  footer details::before {
    top: 0;
  }

  footer details::after {
    bottom: 0;
  }

  footer details::before,
  footer details::after {
    content: "";
    position: absolute;
    border: 1px solid #d6d6d6;
    width: 100%;
  }

  details > summary {
    justify-content: space-between;
  }

  .misc {
    margin: 40px 0 0;
  }

  .misc ul {
    margin: 0 0 24px;
  }

  .footer-wrapper hr {
    margin: 4px 0;
  }

  .copyright span {
    text-align: center;
  }

  .copyright ul {
    margin: 24px 0;
    justify-content: space-between;
  }

  .copyright ul > li > a {
    margin: 0 1rem;
  }

  .footer-wrapper,
  .footer-wrapper section,
  footer .socials,
  footer .payments,
  .copyright,
  .copyright > ul {
    max-width: none;
  }

  .footer-wrapper,
  footer .copyright {
    flex-direction: column;
  }
}
