.sub-links {
  margin: 0 0 15px;
}

.sub-links ul {
  margin: 0;
  display: flex;
}

.sub-header .logos a {
  margin: 0 16px 0 0;
}

.sub-links a {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  color: #737373;
  padding: 0 16px 0;
}

.sub-links li:last-of-type a {
  padding: 0 0 0 16px;
}

.sub-links li:not(:last-of-type) a::after {
  content: "|";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
}
